body {
  margin-top: 60px;
}
#main {
  background-color: #D9D9D9;
}
ul {
    list-style-position: inside;
    list-style-type: none;
}

a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}