
body {
    vertical-align: middle;
    color: black;
    background-color: #C8CFE8;
}

#main-heading {
    font-size: 20px;
    font-family: arial, sans-serif;
    background-color: #C8CFE8;
    border-radius: 25px;
    display: block;
    padding: 10px;
    margin-top: 160px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.img-circle {
    border-radius: 50%;
}
img {
     width: 16rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

#about-me {
    font-size: 20px;
    font-family: arial, sans-serif;
    background-color: #C8CFE8;
    text-align: left;
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
a {
    font-family: arial, sans-serif;
    color: #0E1E69;
    border-radius: 25px;
    font-size: 20px;
    background-color: #C8CFE8;
    border: none;
    margin: 10px;
    padding: 0px 10px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: darkslategray;
    text-decoration: none;    
}
a:active {
    text-decoration: none;
}
.icons-list {
    display: inline;
    text-align: center;
    list-style: none;
}
hr {
    border-color: #2A3E81;
}
#blue {
    color: #2A3E81;
}
h1 {
    margin-bottom: 0px;
}
h3 {
    margin-top: 5px;
}

.vertical-align {
    display: flex;
    align-items: center;
}