
html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    color: black;
    background-color: lightblue;

}

#main-heading {
    font-size: 20px;
    font-family: sans-serif;
    font-family: arial;
    background-color: darkcyan;
    width: 700px;
    text-align: left;
    border-radius: 25px;
    display: block;
    padding: 10px;
    margin: 20px;
}
.img-circle {
    border-radius: 50%;
}
img {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

#about-me {
    font-size: 20px;
    font-family: sans-serif;
    font-family: arial;
    background-color: darkcyan;
    width: 700px;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
}
#links {
    text-align: center;
}
a {
    font-family: sans-serif;
    font-family: arial;
    color: midnightblue;
    border-radius: 25px;
    font-size: 20px;
    background-color: lightblue;
    border: none;
    margin: 10 px;
    padding: 0px 10px;
}
a:hover {
    color: darkslategray;
}
