#navbar {
  margin-bottom: 0px;
}
#largest-text {
  font-size: 22px;
}
#larger-text {
  font-size: 16px;
}
button {
  color: gray;
}

body {
    color: black;
    background-color: #1D1E31;
}

#main-heading {
    font-size: 20px;
    font-family: arial, sans-serif;
    background-color: #C8CFE8;
    background-color: #8A7E75;
    background-color: #C8CFE8;
    background-color: #D3DAF5;
    background-color: #F5F5FF;
    padding: 10px;
    margin-top: 160px;
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
}
.img-circle {
    border-radius: 50%;
	  float: right;
}
#my-image {
     width: 16rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
#my-image:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
#about-page {
  background-color: #8A7E75;
  background-color: #C8CFE8;
  background-color: #F5F5FF;
}
#about-me {
    font-size: 20px;
    font-family: arial, sans-serif;
    background-color: #C8CFE8;
    background-color: #8A7E75;
    background-color: #C8CFE8;
    background-color: #F5F5FF;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
a {

}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: darkslategray;
    text-decoration: none;    
}
a:active {
    text-decoration: none;
}
.icons {
    display: inline;
    text-align: center;
    list-style: none;
    font-family: arial, sans-serif;
    color: #0E1E69;
    border-radius: 25px;
    font-size: 20px;
    background-color: #C8CFE8;
    background-color: #8A7E75;
    background-color: #C8CFE8;
    background-color: #F5F5FF;  
    border: none;
    margin: 10px;
    padding: 0px 10px;
}
hr {
    border-color: #2A3E81;
}
#blue {
    color: #2A3E81;
    color: #0E1E69;
}
h1 {
    margin-bottom: 0px;
}
h3 {
    margin-top: 5px;
}
#container {
  background-color: #C8CFE8; 
  background-color: #8A7E75;
  background-color: #1D1E31;
}
#portfolio {
  background-color: #766A66;
  background-color: #C8CFE8;
  background-color: #F5F5FF;
}
#thumbnail {
  margin: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer {
  color: white;
}
hr {
  border: solid 2px;
}
.code-icon {
  font-size: 20px;
}